.sec-content {
    background-color: #f0e8e8;
    color: #000000;
    text-align: center;
    padding: 4rem 1rem;
}

*{
margin: 0;
}
.section-title {
    margin-bottom: 3rem;
}

.section-title::after {
    width: 64px;
}

.leftsection {
    margin: 0px 0px;
    font-size: 2.3rem;
    background-color: #c6b5dc;
}

.sesection {
    margin: 0px 0px;
    font-size: 2.3rem;
}

.center {
    margin-top: 0%;
    display: block;
    margin-left: auto;
    width: 50%;
    height: 100%;
}
.center2 {
    text-align: center;
    position: absolute;
    top: 295%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
  }
  

.lftc {
    position: absolute;
    top: 22%;
    left: 9%;
    text-align: center;
    font-size: 85%;
    font-family:Sofia;
}

.centered {
    font-size: 135%;
    position: absolute;
    top: 15%;
    left: 24%;
    transform: translate(-50%, -50%);
}

.centered2 {
    font-size: 135%;
    position: absolute;
    left: 70%;
    bottom: -1000%;
    transform: translate(-50%, -50%);
}

.lftc2 {
    position: absolute;
    bottom: -1100%;
    right: 3%;
    text-align: center;
    font-size: 85%;
}

.button
{
    position: absolute;
    background-color: rgb(108, 8, 8);
    transition: all .2s ease-in-out;
    color: #fcc9d0;
    width: 260; 
    height: 63;
    border-radius: var(--button-border-radius);
    --button-border-radius: 20px;
    --tile-border-width: 1px;
    --tile-border-radius: 2px;
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-flex;
    font-size: 70%;
    cursor: pointer;
    font-family:'Fjalla One';
}


.button:hover
{
    color: rgb(108, 8, 8);
    background-color: #faebed;
}

.button2
{
    position: absolute;
    left: 20%;
    background-color: #43234c;
    transition: all .2s ease-in-out;
    color: #fdedef;
    width: 260; 
    height: 63;
    border-radius: var(--button-border-radius);
    --button-border-radius: 20px;
    --tile-border-width: 1px;
    --tile-border-radius: 2px;
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-flex;
    font-size: 70%;
    cursor: pointer;
    font-family:'Fjalla One';
}


.button2:hover
{
    color:  #43234c;
    background-color: #faebed;
}

.footer_title {
    color: #000000;
    text-align: center;
    padding: 4rem 1rem;
    font-size: 100%;
    margin: 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c7d7c7;
}

.CollectionTile_cover {
    background-position: 50%;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    transition: transform .25s ease;
}

.se-section {
    display: inline-block;
    width: 200px;
    margin: 15px;
    padding: 3%;
    text-align: center;
    transition: transform 0.3s;
}

.se-section:hover {
    transform: scale(1.05);
}

.se-section img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

nav ul {
    display: flex;
    justify-content: left;
    background-color: #c6b5dc;
}

nav ul li {
    list-style: none;
    margin: 15px 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(21, 8, 94) ; 
    font-size: 1.1rem;
}
